#app {
  font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-success {
  background-color: #5DCECE;
  border: none;
}

.badge-success {
  background-color: #5DCECE;
}